*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.konvaContainer {
  background-color: aliceblue;
  display: flex;
  justify-content: flex-start;
  width: 65vw;
  z-index: 0;
  border-radius: 25px;
}

.iconBarContainer {
  background-color: rgb(236, 236, 236);
  border-left: 1px solid orange;
  /* padding: 1rem; */
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border-radius: 25px; */
  justify-content: space-around;
}

.iconToolbarRow {
  background-color: none;
  padding: 1rem;
  width: 32vw;
  /*height: 5rem;
  */cursor: grab;
  border: 1px solid rgb(168, 168, 168);
  /* border-top: 1px solid; */
  /* border-radius: 25px; */
  z-index: 1;
  overflow: hidden !important;
  overflow-x: scroll !important;
  flex-wrap: nowrap;
  display: flex;
}

.icon {
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 2rem;
  height: 4rem;
  width: 4rem;
}
