*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  touch-action: none;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.konvaContainer {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  z-index: 0;
}

.iconBarContainer {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* freedraw prevent dings*/
  overflow-y: hidden;
}

.iconToolbarRow {
  background-color: none;
  padding: 1rem;
  width: 32vw;
  height: 100%;
  cursor: grab;
  z-index: 1;
  overflow: hidden !important;
  overflow-x: scroll !important;
  flex-wrap: nowrap;
  display: flex;
}

.icon {
  display: flex;
  cursor: pointer;
  height: 100%;
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* UI */
.zoomyZoom {
  width: 5vmin;
}
/* nav */

.nav--button {
  /* width: 100%;
  height: 100%; */
}

.iconBar__outer {
  position: relative;
}

.iconBar__outer::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 75%,
    rgb(255, 255, 255) 90%
  );
  pointer-events: none;
}

.iconBar__customIconBtn {
  cursor: pointer;
  display: grid;
  place-content: center;
}
